/* .vitepress/theme/styles/custom.css */
@font-face {
    font-family: 'GeistMono'; /* 等宽字体适合code*/
    src: url('/fonts/GeistMonoVF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Geist'; /*适合文档的字体 */
    src: url('/fonts/GeistVF.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}