:root {
  --vp-home-hero-name-color: black;
  /* vp-home-hero-name-background: black; */
  --vp-button-brand-bg: #65DBFB;
  --vp-button-brand-hover-bg: #65DBFB;
  --vp-button-brand-border: #65DBFB;
  --vp-button-brand-hover-border: #65DBFB;
  --vp-c-brand: #65DBFB;

}
