:root {
  --vp-button-brand-bg: #0969da;
  --vp-button-brand-border: #0969da;
  --vp-c-indigo-1: #0969da;
}

.dark {
  --vp-button-brand-bg: #1f6feb;
  --vp-button-brand-border: #1f6feb;
  --vp-c-indigo-1: #1f6feb;
}
